@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&amp;display=swap');

.f-roboto {
    font-family: 'Roboto', sans-serif;
}

.f-cairo {
    font-family: 'Cairo', sans-serif;
}

.f-poppins {
    font-family: 'Poppins', sans-serif;
}

.f-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.f-opensans {
    font-family: 'Open Sans', sans-serif;
}

.f-viga {
    font-family: 'Viga', sans-serif;
}