* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
  
body {
    background-color: #161620 !important;
    user-select: none !important;
    padding: 0;
    margin: 0;
}
  
#notfound {
    position: relative;
    height: 100vh;
}
  
#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
  
.notfound {
    max-width: 920px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
  
.notfound .notfound-404 {
    position: absolute;
    height: 100px;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: -1;
}
  
.notfound .notfound-404 h1 {
    font-family: 'Maven Pro', sans-serif;
    color: #2C2F33;
    font-weight: 900;
    font-size: 96px;
    margin: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
  
.notfound h2 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 26px;
    color: #99AAB5;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0px;
}
  
.notfound a {
    font-family: 'Maven Pro', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #58636b;
    display: inline-block;
    padding: 10px 28px;
    border: 2px solid transparent;
    border-radius: 40px;
    color: #fff;
    font-weight: 400;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
  
.notfound a:hover {
    background-color: #134ab1;
    border-color: #189cf0;
    color: #ffffff;
}
  
@media only screen and (max-width: 480px) {
    .notfound .notfound-404 h1 {
      font-size: 52px;
    }
    .notfound h2 {
      margin-top: 6px;
      font-size: 17px;
    }
    .notfound a {
      font-size: 9px;
      padding: 8px 18px;
      border: 1px solid transparent;
      font-weight: 400;
    }
}