* {
    background: #161622;
}

.header .logo img {
    width: 270px;
    display: block;
    margin-top: 11%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.header .titolo h1 {
    color: #0070fa;
    text-align: center;
    font-size: 60px;
    font-family: 'Poppins', sans-serif !important;
    font-weight: bold !important;
}

.invite {
    text-align: center;
    margin-top: 20px;
    left: 50%;
    top: 50%;
}

.invite a{
    text-align: center;
    padding: 12px;
    width: 250px;
    margin: 5px;
    text-decoration: none;
    font-family: "Poppins", sans-serif !important;
    color: white !important;
    border: 2px #0070fa solid;
    border-radius: 10px;
    transition: .7s;
}

.invite a:hover {
    transform: scale(1.05);
}

.invite i {
    margin-right: 8px;
    color: white !important;
}

.mizen {
    color: white !important;
    font-family: 'Cairo', sans-serif !important;
    margin-top: 10px;
    text-align: center;
}

.mizen f {
    color: #50d6ff !important;
    font-family: 'Cairo', sans-serif !important;
}

@media screen and (max-width: 600px) {
    .header .logo img {
        width: 170px;
        margin-top: 25%;
    }
    .header .titolo h1 {
        font-size: 42px;
    }
    .invite a{
        text-align: center;
        padding: 12px;
        width: 220px;
        margin: 5px;
        font-size: 15px;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        color: white !important;
        border: 2px #0070fa solid;
        border-radius: 10px;
        transition: 0.25s;
    }
}